body {
    margin: 20px;
}

ul {
    color: brown;
}

ol {
    color: navy;
}

img {
    border: 3px solid black;
    margin: 10px;
}

form {
    background-color: #ffe4c4;
    padding: 15px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}
